<div class="container w-25">
    <h1 class="fw-bold text-center mt-5 mb-5">Sign Up</h1>
    <form [formGroup]="angForm" (ngSubmit)="login(angForm)" class="row justify-content-center mt-5">
        <div class="mt-4">
            <label for="username" class="form-label fw-bold">Username</label>
            <input type="text" name="username" id="username" class="form-control" formControlName="username">
        </div>
        <div class="mt-4">
            <label for="password" class="form-label fw-bold">Password</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password">
        </div>
        <div class="mt-4">
            <label for="confirmPassword" class="form-label fw-bold">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" formControlName="confirmPassword">
        </div>
        <div>
            <input type="submit" class="btn btn-outline-primary mt-5" name="submit">
        </div>
    </form>
</div>